/* custom*/


/* latin */

@font-face {
    font-family: 'Permanent Marker';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/font/permanent-marker.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/font/roboto-slab.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --main-color: #00b5e8;
    --light-color: var(--nord6);
    --inline-code-color: var(--nord5);
}

h1 {
    font: normal 5em "Permanent Marker";
    color: var(--nord2);
}

@media (max-width: 600px) {
    h1 {
        font: normal 3em "Permanent Marker";
    }
}

h1.post-title {
    font: normal 3em "Permanent Marker";
    color: var(--nord2);
}

h2.post-title {
    font: normal 3em "Permanent Marker";
    color: var(--nord2);
}

.post h3,
h4,
h5 {
    font-family: "Roboto Slab";
}

.post-content h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab";
}


/* $color: #00b5e8  */

.logo__cursor {
    background: var(--main-color);
    margin-bottom: 0.3em;
    margin-left: 8px;
    height: 1.2rem;
    width: 12px;
}

p>a {
    color: var(--nord8);
}

p>a strong {
    font-weight: bolder;
    color: var(--nord8);
}

p>a:hover {
    color: var(--main-color);
}

p>a:hover strong {
    font-weight: bolder;
    color: var(--main-color);
}

code {
    border-radius: 2px;
    background: var(--inline-code-color);
    padding: 3px 6px;
    margin: 0 1px;
    font-size: 1rem;
}

article {
    text-align: justify;
}

blockquote {
    border: none;
    background: transparent;
    color: var(--nord3);
}


/* shortcode */

.info {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    width: 100%;
    background-color: var(--light-color);
    border-left: 5px solid var(--main-color);
}

.caption {
    text-align: center;
    font-weight: bold;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}