$content-width: 800px;



/* Palette1 */
$color-onyx: #0F1F38;
$color-firework: #F55449;
$color-oceanic: #1B4B5A;

/* Palette 2 */
$color-cerulean: #217CA3;
$color-mustard: #E29930;
$color-asphalt: #32384D;
$color-shadow: #211F30;

$color0: #FFFFFF;
$color1: $color-asphalt;
$color2: $color-mustard;
$color3: $color-cerulean;

$font1: 'Amatic SC';
$font2: 'Permanent Marker';
$font3: 'Patrick Hand';
$font4: 'Patrick Hand SC';
$font5: 'Shadows Into Light Two';
$font6: 'Caveat Brush';
$font7: 'Neucha';
$font8: 'Nanum Gothic Coding';



*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
